@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --clr1: #F4F3F1;
    --clr2: #00AAF3;
    --clr3: #071B2A;
    --padding: 75px;
    --font-family:"Montserrat", sans-serif;
}

/* Screen Size 360x640 */
/* Screen Size 360x720 */
/* Screen Size 375x667 */

/* Screen Size 768x1024 */
@media all and (min-width: 768px){
    .header{
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--clr3);
        flex-wrap: nowrap;
    }

    .div-logo{
        display: flex;
        align-items: center;
    }
    .logo{
        height: 70px;
        justify-items: center;
        padding-left: var(--padding);
    }

    .menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: var(--padding);
    }

    .menu-items{
        color: var(--clr1);
        font-family: "Montserrat", sans-serif;
        font-size: larger;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Screen Size 1366x768 */
@media all and (min-width: 1366px){
    .header{
        position: fixed;
        top: 0;
        width: 100vw;
        height: 15vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--clr3);
        flex-wrap: nowrap;
    }

    .div-logo{
        display: flex;
        align-items: center;
    }
    .logo{
        height: 70px;
        justify-items: center;
        padding-left: var(--padding);
    }

    .menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: var(--padding);
    }

    .menu-items{
        color: var(--clr1);
        font-family: "Montserrat", sans-serif;
        font-size: larger;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Screen Size 1920x1080 */
@media all and (min-width: 1920px){
    .header{
        position: fixed;
        top: 0;
        width: 100vw;
        height: 15vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--clr3);
        flex-wrap: nowrap;
    }
    
    .div-logo{
        display: flex;
        align-items: center;
    }
    .logo{
        height: 100px;
        justify-items: center;
        padding-left: var(--padding);
    }
    
    .menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: var(--padding);
    }
    
    .menu-items{
        color: var(--clr1);
        font-family: "Montserrat", sans-serif;
        font-size: xx-large;
        padding-left: 40px;
        padding-right: 40px;
    }
}