@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --clr1: #F4F3F1;
    --clr2: #00AAF3;
    --clr3: #071B2A;
    --padding: 75px;
    --font-family:"Montserrat", sans-serif;
}

/* Screen Size 1920x1080 */
@media all and (min-width: 1920px){
    .header{
        position: fixed;
        top: 0;
        width: 100vw;
        height: 15vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--clr3);
        flex-wrap: nowrap;
    }

    .div-logo{
        display: flex;
        align-items: center;
    }

    .div-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: var(--padding);
    }

    .div-hamburger{
        display: none;
    }
}

/* Screen Size 1366x768 */
@media all and (min-width: 1366px) and (max-width: 1919px){
    .header{
        position: fixed;
        top: 0;
        width: 100vw;
        height: 15vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--clr3);
        flex-wrap: nowrap;
    }

    .div-logo{
        display: flex;
        align-items: center;
    }

    .div-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: var(--padding);
    }

    .div-hamburger{
        display: none;
    }
}

/* Screen Size 768x1024 */
@media all and (min-width: 768px) and (max-width: 1365px){
    .header{
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--clr3);
        flex-wrap: nowrap;
    }

    .div-logo{
        display: flex;
        align-items: center;
    }

    .div-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: var(--padding);
    }

    .div-hamburger{
        display: none;
    }
}

/* Screen Size 375x667 */
@media all and (max-width: 767px){
    .header{
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--clr3);
        flex-wrap: nowrap;
        z-index: 100;
    }

    .div-logo{
        display: flex;
        align-items: center;
    }

    .div-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        /* padding-right: var(--padding); */
    }

    .div-hamburger{
        padding-right: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

/* Screen Size 360x720 */
/* Screen Size 360x640 */