@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --clr1: #F4F3F1;
    --clr2: #00AAF3;
    --clr3: #071B2A;
    --padding: 75px;
    --font-family:"Montserrat", sans-serif;
}

/* Screen Size 1920x1080 */
@media all and (min-width: 1920px){
    .logo{
        height: 100px;
        justify-items: center;
        padding-left: var(--padding);
    }
}

/* Screen Size 1366x768 */
@media all and (min-width: 1366px) and (max-width: 1919px){
    .logo{
        height: 70px;
        justify-items: center;
        padding-left: var(--padding);
    }
}

/* Screen Size 768x1024 */
@media all and (min-width: 768px) and (max-width: 1365px){
    .logo{
        height: 70px;
        justify-items: center;
        padding-left: var(--padding);
    }
}

/* Screen Size 375x667 */
@media all and (max-width: 767px){
    .logo{
        height: 50px;
        justify-items: center;
        padding-left: 30px;
    }
}

/* Screen Size 360x720 */
/* Screen Size 360x640 */